In [ ]:
import numpy as np
import pandas as pd

In [43]:
customer_orders = pd.read_csv('customer_orders.csv')
runner_orders = pd.read_csv('runner_orders.csv')
pizza_names = pd.read_csv('pizza_names.csv')
pizza_recipes = pd.read_csv('pizza_recipes.csv')
pizza_toppings = pd.read_csv('pizza_toppings.csv')

Modify values of "distance", and "duration" columns

In [46]:
runner_orders["distance"] = runner_orders["distance"] = runner_orders["distance"].str.replace('km','').astype(float)
runner_orders['duration'] = runner_orders['duration'].str.replace('mins|minutes|minute', '').astype(float)

Q1. How many pizzas were ordered?

In [49]:
customer_orders["order_id"].count()

14

Q2. How many unique customer orders was made?

In [52]:
customer_orders["order_id"].nunique()

10

Q3. How many successful orders was delivered by each runner?

In [53]:
runner_orders['order_id'].loc[runner_orders["cancellation"].isnull()].count()

8

Q4. How many of each type of pizza was delivered?

In [55]:
customer_orders.join(runner_orders, on = "order_id", how= 'left', rsuffix='right')

,order_id,customer_id,pizza_id,exclusions,extras,order_time,order_idright,runner_id,pickup_time,distance,duration,cancellation
0,1,101,1,NaN,NaN,01/01/2020 18:05:02,2.0,1.0,01/01/2020 19:10:54,20.0,27.0,NaN
1,2,101,1,NaN,NaN,01/01/2020 19:00:52,3.0,1.0,03/01/2020 00:12:37,13.4,20.0,NaN
2,3,102,1,NaN,NaN,02/01/2020 23:51:23,4.0,2.0,04/01/2020 13:53:03,23.4,40.0,NaN
3,3,102,2,NaN,NaN,02/01/2020 23:51:23,4.0,2.0,04/01/2020 13:53:03,23.4,40.0,NaN
4,4,103,1,4,NaN,04/01/2020 13:23:46,5.0,3.0,08/01/2020 21:10:57,10.0,15.0,NaN
5,4,103,1,4,NaN,04/01/2020 13:23:46,5.0,3.0,08/01/2020 21:10:57,10.0,15.0,NaN
6,4,103,2,4,NaN,04/01/2020 13:23:46,5.0,3.0,08/01/2020 21:10:57,10.0,15.0,NaN
7,5,104,1,NaN,1,08/01/2020 21:00:29,6.0,3.0,NaN,NaN,NaN,Restaurant Cancellation
8,6,101,2,NaN,NaN,08/01/2020 21:03:13,7.0,2.0,08/01/2020 21:30:45,25.0,25.0,NaN
9,7,105,2,NaN,1,08/01/2020 21:20:29,8.0,2.0,10/01/2020 00:15:02,23.4,15.0,NaN
10,8,102,1,NaN,NaN,09/01/2020 23:54:33,9.0,2.0,NaN,NaN,NaN,Customer Cancellation
11,9,103,1,4,"1, 5",10/01/2020 11:22:59,10.0,1.0,11/01/2020 18:50:20,10.0,10.0,NaN
12,10,104,1,NaN,NaN,11/01/2020 18:34:49,NaN,NaN,NaN,NaN,NaN,NaN
13,10,104,1,"2, 6","1, 4",11/01/2020 18:34:49,NaN,NaN,NaN,NaN,NaN,NaN